@import url(https://fonts.googleapis.com/css?family=Mulish:regular,500,600,700&display=swap);
:root {
  --bg-color: #fff;
  --font-color: #313131;
  --title-color: #000;
  --primary-color: #ef2e29;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* Non-Standard, But More Styling-Capable Properties */
  /* Standardized Properties */
}
*::-webkit-scrollbar {
  cursor: pointer;
  width: 5px;
  background: #f5f5f5;
}
*::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: var(--primary-color);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: var(--primary-color) var(--bg-color);
    scrollbar-width: thin;
  }
}
*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

html,
body {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

body {
  color: var(--font-color);
  line-height: 1;
  font-family: "Mulish", sans-serif;
  background: var(--bg-color);
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  outline: none;
  font-family: "Mulish", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background: transparent;
  -webkit-appearance: button;
  -moz-appearance: button;
       appearance: button;
}

button:active,
button:focus {
  outline: none !important;
}

button::-moz-focus-inner {
  border: 0 !important;
}

a {
  cursor: pointer;
  color: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  display: inline-block;
  max-width: 100%;
  border: 0;
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html.lock {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
}
.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  margin: 0 auto;
  width: 100%;
  max-width: 1754px;
  padding-left: 52px;
  padding-right: 52px;
}
@media (max-width: 1439.98px) {
  [class*=__container] {
    padding-left: 36px;
    padding-right: 36px;
  }
}
@media (max-width: 767.98px) {
  [class*=__container] {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.dont-break-out {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

section {
  position: relative;
  overflow: hidden;
}

.rs-sticky-block {
  padding: 100px 0px;
  border-radius: 50px;
  margin: -50px 0px;
  background-color: #fff;
  position: relative;
  z-index: 10;
  overflow: hidden;
}
@media (max-width: 1439.98px) {
  .rs-sticky-block {
    border-radius: 40px;
  }
}
@media (max-width: 1169.98px) {
  .rs-sticky-block {
    border-radius: 30px;
  }
}
@media (max-width: 991.98px) {
  .rs-sticky-block {
    border-radius: 20px;
  }
}
@media (max-width: 1439.98px) {
  .rs-sticky-block {
    margin-top: -40px;
  }
}
@media (max-width: 1169.98px) {
  .rs-sticky-block {
    margin-top: -30px;
  }
}
@media (max-width: 991.98px) {
  .rs-sticky-block {
    margin-top: -20px;
  }
}
@media (max-width: 1439.98px) {
  .rs-sticky-block {
    margin-bottom: -40px;
  }
}
@media (max-width: 1169.98px) {
  .rs-sticky-block {
    margin-bottom: -30px;
  }
}
@media (max-width: 991.98px) {
  .rs-sticky-block {
    margin-bottom: -20px;
  }
}
@media (max-width: 1439.98px) {
  .rs-sticky-block {
    padding-top: 76.6666666667px;
  }
}
@media (max-width: 1169.98px) {
  .rs-sticky-block {
    padding-top: 53.3333333333px;
  }
}
@media (max-width: 991.98px) {
  .rs-sticky-block {
    padding-top: 30px;
  }
}
@media (max-width: 1439.98px) {
  .rs-sticky-block {
    padding-bottom: 76.6666666667px;
  }
}
@media (max-width: 1169.98px) {
  .rs-sticky-block {
    padding-bottom: 53.3333333333px;
  }
}
@media (max-width: 991.98px) {
  .rs-sticky-block {
    padding-bottom: 30px;
  }
}

.primary-color {
  color: var(--primary-color);
}

.shuffle-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.03em;
  position: absolute;
}
@media (max-width: 991.98px) {
  .shuffle-text {
    display: none;
  }
}

.angles {
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
@media (max-width: 991.98px) {
  .angles {
    display: none;
  }
}

.angle {
  position: absolute;
  width: 12px;
  height: 12px;
}

.angle-top-left {
  top: 0;
  left: 0;
  border-bottom: 1px solid #707070;
  border-right: 1px solid #707070;
}

.angle-top-right {
  top: 0;
  right: 0;
  border-bottom: 1px solid #707070;
  border-left: 1px solid #707070;
}

.angle-bottom-right {
  bottom: 0;
  right: 0;
  border-top: 1px solid #707070;
  border-left: 1px solid #707070;
}

.angle-bottom-left {
  bottom: 0;
  left: 0;
  border-top: 1px solid #707070;
  border-right: 1px solid #707070;
}

h1 {
  font-weight: 600;
  font-size: 90px;
  line-height: 100%;
}
@media (max-width: 1439.98px) {
  h1 {
    font-size: 70px;
  }
}
@media (max-width: 1169.98px) {
  h1 {
    font-size: 50px;
  }
}
@media (max-width: 991.98px) {
  h1 {
    font-size: 30px;
  }
}

h2 {
  font-weight: 700;
  font-size: 70px;
  line-height: 91%;
}
@media (max-width: 1439.98px) {
  h2 {
    font-size: 60px;
  }
}
@media (max-width: 1169.98px) {
  h2 {
    font-size: 50px;
  }
}
@media (max-width: 991.98px) {
  h2 {
    font-size: 40px;
  }
}
@media (max-width: 767.98px) {
  h2 {
    font-size: 25px;
  }
}

h3 {
  font-weight: 600;
  font-size: 50px;
  line-height: 110%;
}
@media (max-width: 1439.98px) {
  h3 {
    font-size: 40px;
  }
}
@media (max-width: 1169.98px) {
  h3 {
    font-size: 30px;
  }
}
@media (max-width: 991.98px) {
  h3 {
    font-size: 20px;
  }
}

h4 {
  font-weight: 600;
  font-size: 40px;
  line-height: 110%;
}
@media (max-width: 1439.98px) {
  h4 {
    font-size: 32.6666666667px;
  }
}
@media (max-width: 1169.98px) {
  h4 {
    font-size: 25.3333333333px;
  }
}
@media (max-width: 991.98px) {
  h4 {
    font-size: 18px;
  }
}
@media (max-width: 991.98px) {
  h4 {
    line-height: 130%;
  }
}

h5 {
  font-weight: 500;
  font-size: 22px;
  line-height: 110%;
  letter-spacing: 0.03em;
}
@media (max-width: 1439.98px) {
  h5 {
    font-size: 20px;
  }
}
@media (max-width: 1169.98px) {
  h5 {
    font-size: 18px;
  }
}
@media (max-width: 991.98px) {
  h5 {
    font-size: 16px;
  }
}
@media (max-width: 991.98px) {
  h5 {
    line-height: 130%;
  }
}

h6 {
  font-weight: 500;
  font-size: 20px;
  line-height: 110%;
  letter-spacing: 0.03em;
}
@media (max-width: 1439.98px) {
  h6 {
    font-size: 18px;
  }
}
@media (max-width: 1169.98px) {
  h6 {
    font-size: 16px;
  }
}
@media (max-width: 991.98px) {
  h6 {
    font-size: 14px;
  }
}
@media (max-width: 991.98px) {
  h6 {
    line-height: 130%;
  }
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0.03em;
}
@media (max-width: 991.98px) {
  p {
    line-height: 150%;
  }
}
@media (max-width: 1439.98px) {
  p {
    font-size: 15.3333333333px;
  }
}
@media (max-width: 1169.98px) {
  p {
    font-size: 14.6666666667px;
  }
}
@media (max-width: 991.98px) {
  p {
    font-size: 14px;
  }
}

.rs-btn {
  text-transform: none;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  z-index: 10;
  -webkit-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1) 0s;
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1) 0s;
  font-weight: 400;
  font-size: 16px;
  line-height: 110%;
  letter-spacing: 0.03em;
  padding: 22px 25px;
  border-radius: 11px;
  gap: 10px;
}
@media (max-width: 1439.98px) {
  .rs-btn {
    font-size: 15.3333333333px;
  }
}
@media (max-width: 1169.98px) {
  .rs-btn {
    font-size: 14.6666666667px;
  }
}
@media (max-width: 991.98px) {
  .rs-btn {
    font-size: 14px;
  }
}
@media (max-width: 1439.98px) {
  .rs-btn {
    padding-top: 19.3333333333px;
  }
}
@media (max-width: 1169.98px) {
  .rs-btn {
    padding-top: 16.6666666667px;
  }
}
@media (max-width: 991.98px) {
  .rs-btn {
    padding-top: 14px;
  }
}
@media (max-width: 1439.98px) {
  .rs-btn {
    padding-right: 23.3333333333px;
  }
}
@media (max-width: 1169.98px) {
  .rs-btn {
    padding-right: 21.6666666667px;
  }
}
@media (max-width: 991.98px) {
  .rs-btn {
    padding-right: 20px;
  }
}
@media (max-width: 1439.98px) {
  .rs-btn {
    padding-bottom: 19.3333333333px;
  }
}
@media (max-width: 1169.98px) {
  .rs-btn {
    padding-bottom: 16.6666666667px;
  }
}
@media (max-width: 991.98px) {
  .rs-btn {
    padding-bottom: 14px;
  }
}
@media (max-width: 1439.98px) {
  .rs-btn {
    padding-left: 23.3333333333px;
  }
}
@media (max-width: 1169.98px) {
  .rs-btn {
    padding-left: 21.6666666667px;
  }
}
@media (max-width: 991.98px) {
  .rs-btn {
    padding-left: 20px;
  }
}
.rs-btn._btn-primary {
  color: #fff;
  background-color: var(--primary-color);
  -webkit-box-shadow: inset 0 0 0 0 #000;
          box-shadow: inset 0 0 0 0 #000;
}
@media (any-hover: hover) {
  .rs-btn._btn-primary:hover {
    -webkit-box-shadow: inset 0 -70px 0 0 #000;
            box-shadow: inset 0 -70px 0 0 #000;
  }
}

.form {
  width: 100%;
}
.form__wrapper {
  position: relative;
}
.form__line {
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}
.form__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}
@media (max-width: 1169.98px) and (min-width: 767.98px), (max-width: 539.98px) {
  .form__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.form__agreement {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #7a7a7b;
  max-width: 527px;
  width: 100%;
  margin-right: 15px;
}
@media (max-width: 1439.98px) {
  .form__agreement {
    font-size: 15.3333333333px;
  }
}
@media (max-width: 1169.98px) {
  .form__agreement {
    font-size: 14.6666666667px;
  }
}
@media (max-width: 991.98px) {
  .form__agreement {
    font-size: 14px;
  }
}
@media (max-width: 1169.98px) and (min-width: 767.98px), (max-width: 539.98px) {
  .form__agreement {
    margin-right: 0px;
    margin-bottom: 15px;
    max-width: 100%;
    text-align: center;
  }
}
.form__agreement a {
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
@media (any-hover: hover) {
  .form__agreement a:hover {
    text-decoration: none;
  }
}
@media (max-width: 1169.98px) and (min-width: 767.98px), (max-width: 539.98px) {
  .form__button {
    width: 100%;
  }
}
.form__button .rs-btn {
  width: 100%;
  white-space: nowrap;
}

.rs-input {
  outline: none;
  width: 100%;
  -webkit-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
  -webkit-transition-property: background-color, border-color;
  transition-property: background-color, border-color;
  background-color: transparent;
  border: 1px solid rgba(223, 223, 223, 0.5);
  border-radius: 11px;
  padding: 21px 25px;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}
@media (max-width: 1439.98px) {
  .rs-input {
    font-size: 15.3333333333px;
  }
}
@media (max-width: 1169.98px) {
  .rs-input {
    font-size: 14.6666666667px;
  }
}
@media (max-width: 991.98px) {
  .rs-input {
    font-size: 14px;
  }
}
@media (max-width: 1439.98px) {
  .rs-input {
    padding-top: 18.6666666667px;
  }
}
@media (max-width: 1169.98px) {
  .rs-input {
    padding-top: 16.3333333333px;
  }
}
@media (max-width: 991.98px) {
  .rs-input {
    padding-top: 14px;
  }
}
@media (max-width: 1439.98px) {
  .rs-input {
    padding-right: 23.3333333333px;
  }
}
@media (max-width: 1169.98px) {
  .rs-input {
    padding-right: 21.6666666667px;
  }
}
@media (max-width: 991.98px) {
  .rs-input {
    padding-right: 20px;
  }
}
@media (max-width: 1439.98px) {
  .rs-input {
    padding-bottom: 18.6666666667px;
  }
}
@media (max-width: 1169.98px) {
  .rs-input {
    padding-bottom: 16.3333333333px;
  }
}
@media (max-width: 991.98px) {
  .rs-input {
    padding-bottom: 14px;
  }
}
@media (max-width: 1439.98px) {
  .rs-input {
    padding-left: 23.3333333333px;
  }
}
@media (max-width: 1169.98px) {
  .rs-input {
    padding-left: 21.6666666667px;
  }
}
@media (max-width: 991.98px) {
  .rs-input {
    padding-left: 20px;
  }
}
.rs-input::-webkit-input-placeholder {
  color: #7a7a7b;
}
.rs-input::-moz-placeholder {
  color: #7a7a7b;
}
.rs-input:-ms-input-placeholder {
  color: #7a7a7b;
}
.rs-input::-ms-input-placeholder {
  color: #7a7a7b;
}
.rs-input::placeholder {
  color: #7a7a7b;
}
.rs-input:focus {
  border-color: #fff;
}

textarea.rs-input {
  padding: 25px;
  min-height: 184px;
  resize: none;
}
@media (max-width: 1439.98px) {
  textarea.rs-input {
    padding: 23.3333333333px;
  }
}
@media (max-width: 1169.98px) {
  textarea.rs-input {
    padding: 21.6666666667px;
  }
}
@media (max-width: 991.98px) {
  textarea.rs-input {
    padding: 20px;
  }
}

.rs-breadcrumbs {
  position: relative;
}
.rs-breadcrumbs__container {
  padding: 0;
  max-width: 100%;
}
.rs-breadcrumbs__navigation {
  position: relative;
  width: 100%;
}
.rs-breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.rs-breadcrumbs__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0.03em;
  color: #313131;
}
@media (max-width: 1439.98px) {
  .rs-breadcrumbs__list li {
    font-size: 15.3333333333px;
  }
}
@media (max-width: 1169.98px) {
  .rs-breadcrumbs__list li {
    font-size: 14.6666666667px;
  }
}
@media (max-width: 991.98px) {
  .rs-breadcrumbs__list li {
    font-size: 14px;
  }
}
.rs-breadcrumbs__list li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .rs-breadcrumbs__list li > a:hover {
    color: var(--primary-color);
  }
}
.rs-breadcrumbs__list li:not(:last-child)::after {
  content: " / ";
  display: block;
  margin: 0px 5px;
}