@import "../base/_mixin";

.rs-text {
	padding: 176px 0px 49px;
	overflow: visible;

	@include responsive-auto(padding-top, (176, 30), (1439.98, 1169.98, 991.98));
	@include responsive-auto(padding-bottom, (49, 30), (1439.98, 1169.98, 991.98));

	// .rs-text__container
	&__container {
	}

	// .rs-text__wrapper
	&__wrapper {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;
		max-width: 1206px;
		margin: 0 auto;

		h1 {
		}

		p {
			max-width: 810px;
			margin-top: 30px;
			font-size: 20px;
			// line-height: 30px;
			line-height: 150%;

			@include responsive-auto(font-size, (20, 14), (1439.98, 1169.98, 991.98));
		}
	}

	&__icons {
		@media (min-width: 991.98px) {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			pointer-events: none;
		}
		@media (max-width: 991.98px) {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 20px;
			max-width: 200px;
			margin: 20px auto 0px;
		}
	}

	// .rs-text__icon
	&__icon {
		@media (min-width: 991.98px) {
			position: absolute;
			z-index: -1;

			&.rs-text__icon-1 {
				bottom: 1%;
				left: 2%;

				@media (max-width: 1439.98px) {
					max-width: 7%;
				}
			}
			&.rs-text__icon-2 {
				top: -33%;
				left: 25%;

				@media (max-width: 1439.98px) {
					top: -40%;
					max-width: 7%;
				}
			}
			&.rs-text__icon-3 {
				bottom: 27%;
				right: 6.5%;

				@media (max-width: 1439.98px) {
					right: -1%;
					max-width: 7%;
				}
			}
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}
