.rs-breadcrumbs {
	position: relative;

	// .rs-breadcrumbs__container
	&__container {
		padding: 0;
		max-width: 100%;
	}

	// .rs-breadcrumbs__navigation
	&__navigation {
		position: relative;
		width: 100%;
	}

	// .rs-breadcrumbs__list
	&__list {
		display: flex;
		align-items: center;
		flex-wrap: wrap;

		li {
			display: flex;
			align-items: center;
			font-weight: 400;
			font-size: 16px;
			// line-height: 29px;
			line-height: 180%;
			letter-spacing: 0.03em;
			color: #313131;

			@include responsive-auto(font-size, (16, 14), (1439.98, 1169.98, 991.98));

			& > a {
				display: flex;
				align-items: center;
				transition: all 0.3s ease 0s;

				@media (any-hover: hover) {
					&:hover {
						color: var(--primary-color);
					}
				}
			}

			&:not(:last-child) {
				&::after {
					content: " / ";
					display: block;
					margin: 0px 5px;
				}
			}
		}
	}
}
